body{
    height: 100%
}
.paragrafo {
    background-color: aquamarine;
}

#meio{
    background-color: aqua;
}

article {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

#quadrado {
    width: 150px;
    height: 150px;
    background-color: aquamarine;
    box-shadow: 2px 2px 10px 5px blanchedalmond;
}